<%- include('../includes/head.ejs') %>
  </head>
  <body>
    
    <%- include('../includes/header.ejs') %>

    <main>

      <section class="main-section">
        <div class="section-header">
          <div class="section-title">
            <h1>Invoices</h1>
            <p class="body-1 sub-title">7 invoices</p>
          </div>
          <div class="section-controls">
            <div class="filter">
              <select name="filter" id="filter" class="drop-down">
                <option value="1">
                  Filter
                </option>
              </select>
            </div>
            <div class="new-invoice">
              <button class="btn btn-1">
                <span class="button-icon">
                  <img src="/images/icon-plus.svg" alt="New Invoice" />
                </span>
                New
              </button>
            </div>
        </div>
      
        <div class="section-items">
          <div class="item">
            
          </div>
        </div>

      </section>

    </main>

  </body>
</html>
