<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Aliquam porttitor mauris sit amet orci Aenean</h1>
    <h2>Aliquam porttitor mauris sit amet orci Aenean</h2>
    <h3 class="text-big">Aliquam porttitor mauris sit amet orci Aenean</h3>
    <h3 class="text-small">Aliquam porttitor mauris sit amet orci Aenean</h3>

    <p class="body_1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus omnis nihil unde eius doloribus suscipit quasi quae, quo consequatur eaque exercitationem magnam perspiciatis, excepturi sequi at velit nisi porro?
    </p>

    <p class="body_2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, earum minima. Necessitatibus, iure odio, itaque cupiditate eveniet excepturi sunt veritatis qui voluptates vero natus? Quod quos explicabo, dolores tempore voluptatum, cumque maiores omnis modi quibusdam et consectetur quis eius aperiam ullam sunt ipsum nemo molestiae perspiciatis beatae esse voluptas. Id.
    </p>
</body>
</html>